<%= link_to "Sign Up", new_user_registration_path %>
<% unless user_signed_in? %>  
  <%= link_to "Sign In", new_user_session_path %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Become a seller", new_seller_profile_path %>
  <%= link_to "Sign out", destroy_user_session_path %>
  <% if current_user.seller_profile %>
    <%= link_to "Create new listing", new_listing_path %>
  <% end %>
<% end %>

<%= link_to "View Sellers", seller_profiles_path %>

<%= form_with(scope: :search, url: listings_path, method: "get", local: true) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
    <%= f.label :category %>
    <%= f.collection_select :category, Category.all, :id, :name, {}, { multiple: false } %>
  <div>

  <div>
    <%= f.submit 'Search' %>
  </div>
<% end %>

<div class="container">
  <% @listings.each do |listing| %>
    <% unless listing.hidden %>
      <div class="listing-card">
        <%= image_tag listing.image, class: "listing-img" %>
        <h3 class="listing-title">
          <%= listing.title %>
        </h3>
        <p class="listing-desc">
          <%= listing.description %>
        </p>
        <p class="listing-quantity">
          <%= listing.quantity %>
        </p>
        <p class="listing-price">
          <%= listing.price %>
        </p>
        <%= link_to "View listing", listing_path(listing.id) %>
      </div>
    <% end %>
  <% end %>
</div>