<%= render partial: "shared/navbar"%>

<div class="banner">
  <div class="banner-content">
    <div class="index-heading">
      <h1>The Brand Asset Marketplace</h1>
    </div>
    <div class="index-intro">
      <h2>Welcome to the Brand Asset Marketplace!</h2> 
      <p>A place for brands to share and reuse marketing collateral from past events and activations. Have a browse of the listings below.</p>
    </div>
    <div class="register mt-4">
      <button type="button" class="btn register-btn py-1 px-2">
        <%= link_to "Sign Up", new_user_registration_path, class: "register-link" %>
      </button>
      <% if user_signed_in? %>
        <div class="new-seller">
          <div class="question my-3">Already have an account?</div>
          <button type="button" class="btn register-btn py-1 px-2">
            <%= link_to "Become a seller", new_seller_profile_path, class: "register-link" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container my-5">
  <h2 class="listings-container-heading my-5">Available Items</h2>

  <div class="search-form">
    <%= form_with(scope: :search, url: listings_path, method: "get", local: true) do |f| %>
    <div class="search-content my-3">
      <div class="search-box mr-5">
        <h4 class="search-heading">Search products</h4>
        <%= f.label :title, class:"search-label" %>
        <%= f.text_field :title %>
      </div>
      <div class="search-cat ml-5">
        <h4 class="search-heading">Filter by product category</h4>
        <%= f.label :category, class:"search-label" %>
        <%= f.collection_select :category, Category.all, :id, :name, {include_blank: 'Select a category'}, { multiple: false } %>
      </div>
    </div>
    <div class="search-submit my-1">
      <%= f.submit 'Search' %>
    </div>
    <% end %>
  </div>

  <div class="listings-container my-5">
    <% @listings.each do |listing| %>
      <% unless listing.hidden %>
        <div class="listing-card mb-5">
          <% if listing.image.attached? %>
            <%= image_tag listing.image, class: "listing-img" %>
          <% end %>
          <h4 class="listing-title p-2 my-2">
            <%= listing.title %>
          </h4>
          <div class="listing-copy p-2">
            <div class="listing-price">
              <%= number_to_currency(listing.price) %>
            </div>
            <button type="button" class="btn listing-btn">
              <%= link_to "View listing", listing_path(listing.id), class: "listing-link" %>
            </button>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>