<%= render partial: "shared/navbar"%>

<div class="container mt-5">
  <div class="form-container">
    <h1 class="form-title mb-3">New Listing</h1>

    <%= form_with model: @listing, local: true do |f| %>
      <% if @listing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
          <ul>
            <% @listing.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>  
        <%= f.label :title, class:"form-label" %>
        <%= f.text_field :title, autofocus: true, class: "form-input" %>
      </div>
      <div>  
        <%= f.label :description, class:"form-label" %>
        <%= f.text_area :description, class: "form-input form-box" %>
      </div>
      <div>  
        <%= f.label :price, class:"form-label" %>
        <%= f.text_field :price, class: "form-input" %>
      </div>
      <div>  
        <%= f.label :quantity, class:"form-label" %>
        <%= f.number_field :quantity, class: "form-input", min: 1 %>
      </div>
      <div>  
        <%= f.label :image, class:"form-label" %>
        <%= f.file_field :image, class: "form-input" %>
      </div>
      <div>
        <label class="form-label" for="category_id">Select the most relevant category:</label>
        <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true, class: "form-input" %>
      </div>
      <%= f.submit "Create listing", class: "form-submit mt-3" %>
    <% end %>
  </div>
</div>
